:root {
  --color-button-green: #bbf330;
  --color-dark-green: #7eb101;
  --color-yellow-main: #ffe550;
  --neutral-dark-gray: #505050;
  --color-black: #2c2c2c;
  --color-white: #fefefe;
  --color-shadow-fruit: radial-gradient(#2f583f 0%, #696969 100%);
  --color-2: #a7ce47;
  --color-text: #3d3d3d;
  --color-text-2: #969696;
  --color-text-3: #4a4a4a;
  --color-grad-1: linear-gradient(to bottom, #fe88b3 0%, #ff4d8d 100%);
  --color-grad-2: linear-gradient(
    to bottom,
    #fdfdfd 0%,
    #fff5f9 23.87%,
    #fe88b3 100%
  );
  --btn-transition: 350ms cubic-bezier(0.23, 1, 0.32, 1);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

body {
  font-family: 'Roboto', sans-serif;
  background: #f5f5f5;
  color: #2c2c2c;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  line-height: 1.5;
  margin: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
  color: #2c2c2c;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container {
  max-width: 320px;
  padding: 0 20px;
  margin: 0 auto;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  color: var(--color-black);
  cursor: pointer;
  border-radius: 30px;
  border: none;
  outline: transparent;
}
/*!====================================*/
/** ===================== */
/** ===================== */
/** ===================== */
/** ===================== */
/** ===================== */
/** ===================== */
/* ! ============= Header =========== */

.header {
  box-shadow: 0px 4px 24px 0px rgba(105, 105, 105, 0.1);
}

.subheader-container {
  display: none;
}

.header-container {
  display: flex;
  align-items: center;
  position: relative;
  padding: 10px 20px;
}

.logo-link {
  display: inline-flex;
}

/** MOBILE MENU BLOCK */

.mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 28px;
  height: 28px;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
}

.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

.mobile-menu-icon {
  stroke: var(--color-dark-green);
  transition: stroke var(--transition);
}

.menu-container {
  position: fixed;
  top: 50px;
  right: 20px;
  width: 130px;
  height: 255px;
  overflow: hidden;
  background-color: #ffffff;
  z-index: 999;
  border-radius: 30px 0px 30px 30px;
  box-shadow: 0px 4px 24px 0px rgba(105, 105, 105, 0.1);
  transform: translateY(-200%);
  transition: transform var(--btn-transition);
}

.menu-container.is-open {
  transform: translateY(0);
}

.menu-btn-close {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 4px;
  right: 4px;
}

.menu-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

.menu-list-link {
  width: 100%;
  height: 100%;
  display: block;
  font-size: 16px;
  line-height: initial;
  padding: 16px 10px 16px 16px;
}

.menu-list-link:active {
  background-color: var(--color-button-green);
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }

  .header-container {
    justify-content: space-between;
    align-items: center;
  }

  .mobile-menu {
    display: none;
  }

  .subheader-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-nav-list {
    display: flex;
  }

  .nav-menu {
    display: block;
    margin-right: 28px;
    padding: 28px 0;
    transition: color var(--btn-transition);
  }

  .nav-menu:last-child {
    margin-right: 30px;
  }

  .nav-menu:hover {
    text-decoration: underline;
    color: var(--color-dark-green);
  }

  .active {
    text-decoration: underline;
    color: var(--color-button-green);
  }
}

/* ! ========== Hero Section ==========*/
.hero {
  padding-top: 60px;
  padding-bottom: 50px;
}

.hero-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.hero-text-box {
  display: flex;
  flex-direction: column;
  max-width: 511px;
}

.hero-title {
  text-transform: capitalize;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.2;
  margin-bottom: 28px;
}

.hero-text {
  font-size: 14px;
  line-height: 1.43;
  margin-bottom: 32px;
}

.btn-order-green {
  max-width: 98px;
  background-color: var(--color-button-green);
  padding: 6px 18px;
}

.slider-wrap {
  display: none;
}

@media (min-width: 768px) {
  .hero-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .hero-title {
    font-size: 42px;
    font-weight: 700;
    line-height: 1.2;
    max-width: 537px;
    margin-bottom: 44px;
  }

  .hero-subcontainer {
    display: flex;
    flex-direction: row;
  }

  .hero-text {
    max-width: 336px;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 40px;
  }

  .hero-subcontainer button {
    margin-bottom: 14px;
  }

  /**===== SLIDER =====*/

  .slider-wrap {
    display: block;
    position: absolute;
    right: 40px;
    top: 90px;
    width: 320px;
    height: 320px;
  }

  .hero-slider {
    position: relative;
    width: 320px;
    height: 320px;
    border: 14px solid var(--color-yellow-main);
    background-color: var(--color-white);
    border-radius: 50%;
  }

  .hero-pic {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
  }

  .slick-prev,
  .slick-next {
    position: absolute;
    top: 50%;
    width: 34px;
    height: 28px;
    background: var(--color-white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
  }

  .slick-next {
    right: -25px;
  }

  .slick-prev {
    left: -25px;
  }

  .slick-prev:hover,
  .slick-prev:focus,
  .slick-next:hover,
  .slick-next:focus {
    color: transparent;
    outline: none;
    background: var(--color-white);
  }

  .slider-arrow-right {
    pointer-events: none;
    position: absolute;
    width: 12px;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  .slider-arrow-left {
    pointer-events: none;
    position: absolute;
    width: 12px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}

/* ! =========== Offering ======*/
.offering {
  background-color: var(--color-yellow-main);
}

.offering-container {
  padding-top: 70px;
  padding-bottom: 72px;
}

.offering-pic-box {
  position: relative;
  max-width: 256px;
  height: 256px;
  background-color: #f5f5f5;
  border-radius: 50%;
  margin: 0 auto;
  margin-bottom: 60px;
  box-shadow: 0 0 0 9px var(--color-yellow-main),
    0 0 0 12px hsla(0, 0%, 96%, 0.5);
}
.offering-main-pic {
  position: absolute;
  width: 80%;
  height: auto;
  top: -40px;
  left: 0;
  transform: translateX(25px);
  z-index: 500;
}

.offering-pic-box::after {
  content: '';
  position: absolute;
  bottom: 18px;
  right: 50%;
  transform: translateX(50%);
  width: 128px;
  height: 44px;
  border-radius: 130px;
  background-image: radial-gradient(
    50% 50% at 50% 50%,
    #2f583f 0%,
    rgba(105, 105, 105, 0) 100%
  );
  filter: blur(6.6px);
}

.offering-subpicture_1 {
  display: none;
}

.offering-subpicture_2 {
  display: none;
}

.section-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 28px;
}

.section-text {
  font-size: 14px;
  line-height: 1.43;
  margin-bottom: 28px;
}

.offering-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: var(--color-white);
  border-radius: 50%;
  margin-bottom: 8px;
  cursor: pointer;
  transform: scale(1);
  transition: scale 500ms linear;
}

.delivery-icon {
  fill: var(--color-dark-green);
}

.offering-icon-box:hover {
  transform: scale(1.1);
  animation: spin 250ms linear;
  animation-iteration-count: 2;
}

.offering-list {
  margin-bottom: 28px;
}

.offering-list-item:first-child {
  margin-bottom: 24px;
}

.sub-title {
  font-size: 18px;
  margin-bottom: 16px;
}

.offering-text {
  font-size: 14px;
  line-height: 1.43;
}

.offering-btn-box {
  display: flex;
  gap: 24px;
}

.btn-order-white {
  width: 98px;
  height: 32px;
  background: var(--color-white);
  border: 2px solid var(--color-dark-green);
}

.read-btn {
  font-family: inherit;
  font-size: 14px;
  line-height: 1.5;
  min-width: 83px;
  background: transparent;
}

@media (min-width: 768px) {
  .offering-container {
    padding-bottom: 88px;
  }
  .offering-pic-box {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    margin-bottom: 60px;

    max-width: 326px;
    height: 326px;
    box-shadow: 0 0 0 13px var(--color-yellow-main),
      0 0 0 16px hsla(0, 0%, 96%, 0.5);
  }

  .offering-pic-box::after {
    bottom: 35px;
  }

  .offering-main-pic {
    width: 80%;
    top: -55px;
    transform: translateX(35px);
  }

  .pics-container {
    position: relative;
    padding-left: 16px;
  }

  .offering-subpicture_1 {
    display: block;
    position: absolute;
    bottom: 50px;
    right: 152px;
    width: 166px;
    opacity: 60%;
  }

  .offering-subpicture_2 {
    display: block;
    position: absolute;
    bottom: 50px;
    right: 0;
    width: 108px;
    opacity: 30%;
  }

  .offering-title {
    max-width: 526px;
    font-size: 42px;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
  }

  .offering-text {
    font-size: 16px;
    max-width: 500px;
    margin-bottom: 25px;
  }

  .offering-list {
    display: flex;
    margin-right: auto;
    gap: 80px;
    margin-bottom: 20px;
  }

  .offering-list-item {
    max-width: 288px;
  }

  .offering-list-item:last-child {
    max-width: 252px;
  }
  .sub-title {
    font-weight: 700;
  }

  .offering-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
  }
}

/*! ======== Favorites ======== */

.favorites {
  padding: 60px 0;
}

.favorites-title {
  text-align: center;
  font-size: 28px;
  line-height: initial;
  margin-bottom: 20px;
}
.favorites-text {
  text-align: center;
  font-size: 14px;
  line-height: initial;
  margin-bottom: 60px;
}

.favorites-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 20px;
}

.favorites-list-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 17px;
  max-width: 280px;
  height: auto;
  background-color: var(--color-white);
  border-radius: 50%;
  border: 11px solid var(--color-yellow-main);
}

.favorites-pic {
  height: auto;
  margin: auto;
}

@media (min-width: 768px) {
  .favorites {
    padding: 100px 0;
  }

  .favorites-title {
    font-size: 42px;
    line-height: normal;
  }

  .favorites-text {
    font-size: 16px;
  }

  .favorites-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }

  .favorites-list-item {
    max-width: calc((100% - 32px) / 2);
  }
}

/*! ======== Customers ======== */

.customers {
  background-color: var(--color-yellow-main);
  padding: 60px 0;
}
.customers-section-title {
  margin-bottom: 20px;
  line-height: initial;
}
.customers-section-text {
  margin-bottom: 32px;
}

.customers-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 24px;
}

.customers-list-item {
  background-color: var(--color-white);
  border-radius: 0 30px 30px 30px;
  padding: 8px;
}

.stars {
  margin-bottom: 28px;
}

.customer-info-box {
  display: flex;
  gap: 16px;
}

.customer-info-box img {
  width: 48px;
  align-items: center;
}

.customer-info-text {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.customer-info-text::after {
  content: '';
  position: absolute;
  top: 0;
  right: -14px;
  height: 100%;
  width: 1px;
  background-color: var(--color-dark-green);
}

.customer-comment {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 40px;
}
.customer-name {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
}
.customer-psn {
  font-size: 14px;
  line-height: 1.5;
}

@media (min-width: 768px) {
  .customers {
    padding: 60px 0 120px;
  }

  .customers-section-title {
    font-size: 42px;
  }

  .customers-section-text {
    font-size: 16px;
    line-height: normal;
  }

  .customers-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }

  .customers-list-item {
    width: calc((100% - 32px) / 2);
    padding: 12px 12px 16px;
  }

  .customer-comment {
    font-size: 18px;
    line-height: 1.1;
  }
}

/*! ======== Subscribe ======== */

.subscribe {
  padding: 52px 0 60px;
  position: relative;
}

.subscribe-picture-box {
  position: absolute;
  top: -39px;
  left: 0;
  display: inline-flex;
  justify-content: center;
  width: 100%;
  height: 78px;
}

.subscribe-title-picture {
  height: 100%;
  width: auto;
}

.subscribe-title {
  line-height: 1.2;
  margin-bottom: 20px;
  letter-spacing: 0.02em;
}
.subscribe-text {
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  margin-bottom: 40px;
}
.subscribe-form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  gap: 20px;
}

.subscribe-input {
  width: 100%;
  border-radius: 30px;
  border: 1px solid var(--color-yellow-main);
  background: var(--color-white);
  color: var(--color-black);
  font-size: 12px;
  line-height: 1.5;
  padding: 12px;
  outline: none;
}

.subscribe-input::placeholder {
  color: var(--neutral-dark-gray);
  font-size: 12px;
  line-height: 1.5;
}

.subscribe-input:focus {
  border: 1px solid var(--color-dark-green);
}

.btn-green {
  background-color: var(--color-button-green);
  padding: 12px 22px;
}

@media (min-width: 768px) {
  .subscribe {
    padding: 80px 0 100px;
  }

  .subscribe-picture-box {
    height: 136px;
    justify-content: flex-end;
    top: -70px;
  }

  .subscribe-title-picture {
    margin-right: 32px;
  }

  .subscribe-title {
    font-size: 42px;
    letter-spacing: 0;
  }

  .subscribe-text {
    max-width: 520px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0;
  }

  .subscribe-form {
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 0;
  }

  .subscribe-input {
    max-width: 395px;
    margin-right: 22px;
  }
}

/*! ========== Footer ========== */

.footer {
  box-shadow: 0px -4px 24px 0px rgba(105, 105, 105, 0.1);
  padding: 60px 0;
}

.footer-top {
  display: flex;
  gap: 46px;
  margin-bottom: 40px;
}

.logo-icon {
}
.footer-nav-container {
}

.footer-links-item:not(:last-child) {
  margin-bottom: 20px;
}

.subscribe-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 60px;
}

.subscribe-box-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 12px;
}

.footer-subscribe-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 32px;
}

.footer-subscribe-form .subscribe-input {
  margin-bottom: 20px;
}

.subscribe-btn-white {
  max-width: 103px;
  padding: 8px 22px;
  border-radius: 30px;
  border: 1px solid var(--color-dark-green);
  background: var(--color-white);
}

.subscribe-box-subtext {
  font-size: 10px;
}

.footer-link-green {
  font-size: 10px;
  color: var(--color-dark-green);
}

.footer-bottom-links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.copyright {
  font-size: 10px;
  text-align: center;
}

@media (min-width: 768px) {
  .footer {
    padding: 100px 0;
  }
  .footer-top {
    justify-content: flex-start;
    align-items: center;
    gap: 0;
  }

  .foot-logo {
    margin-right: 114px;
  }

  .footer-links {
    display: flex;
  }

  .footer-links-item:not(:last-child) {
    margin-bottom: 0;
  }

  .footer-subscribe-form {
    flex-direction: row;
    margin-bottom: 12px;
  }

  .footer-subscribe-form .subscribe-input {
    margin-right: 12px;
    margin-bottom: 0;
    max-width: 279px;
  }

  .subscribe-box-subtext {
    font-size: 12px;
  }

  .footer-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .footer-bottom-links {
    margin-bottom: 0;
  }

  .bottom-list-item:not(:last-child) {
    margin-right: 20px;
  }

  .footer-link-green {
    font-size: 12px;
  }

  .copyright {
    font-size: 12px;
  }
}
/*! ==== "Order Now" Modal ===== */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(94, 99, 99, 0.7);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  z-index: 999;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 458px;
  min-width: 320px;
  height: 449px;
  background: var(--color-yellow-main);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  border-radius: 30px;
  padding: 32px 20px;
}

.first-modal {
  background: var(--color-yellow-main);
}

/** ==================== */
/** ===================== */
/** ==================== */
/** ==================== */
/** ===================== */
/** ===================== */
/* ! ============= Header =========== */

/* .header {
  background: var(--color-white);
  box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
  position: fixed;
  z-index: 500;
}

.header-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  height: 72px;
}

.logo-link {
  display: flex;
  align-items: center;
  position: absolute;
  left: 16px;
  top: 0;
  cursor: pointer;
  width: 66px;
  height: 100%;
}

.subheader-container {
  display: flex;
  align-items: center;
}

.header-nav-list {
  display: flex;
} */

/* * --------------------------- */

/* .nav-menu {
  margin-right: 28px;
  padding: 20px 0;
  transition: font-size var(--btn-transition), color var(--btn-transition);
}

.nav-menu:hover {
  text-decoration: underline;
  color: var(--color-button-green);
  font-size: 16px;
}

.btn-order-green {
  width: 98px;
  height: 32px;
  background: var(--color-button-green);
  border: var(--color-button-green);
  transition: background-color var(--btn-transition);
}

.btn-order-green:hover {
  background-color: var(--color-yellow-main);
} */

/** ======= Hero Slider ========= */

/* .slider-wrap {
  position: relative;
  width: 580px;
  height: 580px;
  margin-left: 129px;
}

.hero-slider {
  position: relative;
  width: 580px;
  height: 580px;
  border: 26px solid var(--color-yellow-main);
  background-color: var(--color-white);
  border-radius: 50%;
}

.hero-pic {
  position: absolute;
  top: 50%;
  left: 50%;
}

.slick-prev,
.slick-next {
  width: 48px;
  height: 40px;
  background: var(--color-white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}

.slick-next {
  right: -40px;
}

.slick-prev {
  left: -40px;
}

.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  color: transparent;
  outline: none;
  background: var(--color-white);
}

.slider-arrow-right {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.slider-arrow-left {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
} */

/* ! =========== Offering Section ======*/
/* .offering {
  height: 824px;
  padding-top: 260px;
  margin-top: -230px;
  background-image: url(../images/offering-bg.png);
  background-position: bottom;
  background-repeat: no-repeat;
}

.offering-container {
  position: relative;
  display: flex;
  gap: 90px;
  align-items: center;
  justify-content: flex-end;
}

.offering-pic-box-outer {
  position: absolute;
  width: 550px;
  height: 550px;
  left: 16px;
  top: -30px;
  background-color: transparent;
  border: 5px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
}

.offering-pic-box {
  position: relative;
  height: 502px;
  width: 502px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-white);
  border-radius: 50%;
  z-index: 100;
}

.offering-main-pic {
  display: block;
  position: absolute;
  top: -80px;
  left: 51px;
  transform: scale(1);
  transition: transform 300ms linear;
  z-index: 200;
}

.offering-pic-box::after {
  content: '';
  position: absolute;
  bottom: 48px;
  left: 120px;
  width: 252px;
  height: 87px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #2f583f 0%,
    rgba(105, 105, 105, 0) 100%
  );
  filter: blur(13px);
  z-index: 150;
}

.offering-main-pic:hover {
  transform: scale(1.05);
}

.offering-text-box {
  max-width: 573px;
}

.section-title {
  max-width: 526px;
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  margin-bottom: 20px;
}

.section-text {
  max-width: 500px;
  margin-bottom: 40px;
}

.offering-list {
  display: flex;
  gap: 67px;
  margin-right: 35px;
}

.offering-list-item {
  width: calc((100% - 67px) / 2);
}

.offering-icon-box {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  background-color: var(--color-white);
  border-radius: 50%;
  margin-bottom: 8px;
  cursor: pointer;
  transform: scale(1);
  transition: scale 500ms linear;
}

.delivery-icon {
  fill: var(--color-dark-green);
}

.offering-icon-box:hover {
  transform: scale(1.1);
  animation: spin 250ms linear;
  animation-iteration-count: 2;
}

.sub-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 16px;
}

.offering-text {
  font-size: 14px;
  margin-bottom: 32px;
}

.btn-order-white {
  width: 98px;
  height: 32px;
  background: var(--color-white);
  border: 2px solid var(--color-dark-green);
  font-family: 'Roboto', sans-serif;
  transition: background-color var(--btn-transition),
    border var(--btn-transition);
}

.btn-order-white:hover {
  background-color: var(--color-button-green);
  border: none;
} */

/*! ========= Section Favorites ======= */

/* .favorites {
  padding: 100px 0;
}

.favorites-title {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.17;
  text-align: center;
  color: var(--color-black);
  margin-bottom: 20px;
}

.favorites-text {
  line-height: 1.19;
  text-align: center;
  color: var(--color-black);
  margin-bottom: 40px;
}

.favorites-list {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.favorites-list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: calc((100% - 64px) / 3);
  min-height: 397px;
  background: var(--color-white);
  border: 16px solid var(--color-yellow-main);
  border-radius: 197.5px;
  transition: border-color var(--btn-transition);
}

.favorites-list-item:hover {
  border-color: var(--color-button-green);
}

.favorites-pic {
  transform: scale(1);
  transition: transform 500ms ease-in-out;
}

.favorites-list-item:hover .favorites-pic {
  transform: scale(1.05);
} */

/* ! ======== Customers Section ======== */
/* 
.customer-comment {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

.customer-name {
  font-weight: 500;
  font-size: 14px;
}

.customer-psn {
  font-size: 14px;
} */

/* ! ====== Subscribe Section ========== */
/* 
.input-field {
  width: 394px;
  height: 42px;
  padding-left: 11px;
  background: #fefefe;
  border: 0.854167px solid #ffe550;
  border-radius: 30px;
  font-size: 12px;
  color: #505050;
} */

/* ! ======== Footer ========= */

/* todo: ======== to work out Flexes ===== */
/* ? ------------ */
/* 
.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #fefefe;
  background-image: url('./footer-bg.png');
  background-repeat: no-repeat;
  background-position: bottom;
  box-shadow: 0px -4px 24px rgba(105, 105, 105, 0.1);
}

.footer-top {
  padding: 100px 16px 0;
  display: flex;
  justify-content: space-between;
}

.footer-bottom {
  padding: 80px 16px 100px;
  display: flex;
  justify-content: space-between;
}

.footer-links {
  display: flex;
  justify-content: space-between;
} */
/* ? ------------ */
/* todo: ----------------------------------- */
/* 
.input-field-footer {
  width: 279px;
  height: 42px;
  padding-left: 12px;
  margin: 12px;
  background: #fefefe;
  border: 0.854167px solid #ffe550;
  border-radius: 30px;
  font-size: 12px;
  color: #505050;
}

.subscribe-box-text {
  font-weight: 500;
  font-size: 14px;
}

.subscribe-box-sub-text {
  font-size: 12px;
  line-height: 14px;
}

.footer-link-green {
  font-size: 12px;
  line-height: 14px;
  text-decoration-line: underline;
  color: #7eb101;
}

.copyright {
  font-size: 12px;
  line-height: 14px;
} */

.second-modal {
  background: #79ff50;
}

.second-modal p {
  display: flex;
  text-align: center;
  font-weight: 900;
  font-size: 40px;
  color: red;
  text-transform: uppercase;
  text-shadow: 4px 3px 5px #000000;
}

.third-modal {
  background: #ff6750;
}

.modal-close-btn {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 16px;
  right: 16px;
  width: 24px;
  height: 24px;
  background-color: var(--color-white);
  border: none;
  border-radius: 50%;
  transition: background-color var(--btn-transition),
    box-shadow var(--btn-transition);
  outline: transparent;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--color-button-green);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  animation: spin 250ms linear;
  animation-iteration-count: 1;
}

.modal-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.2;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 20px;
}

.modal-form {
}

.input-wrap {
  margin-bottom: 32px;
}

.input-field-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.input-field-box:last-child {
  margin-bottom: 0;
}

.modal-input-label {
  font-weight: 500;
  line-height: 1.4;
  margin-bottom: 2px;
  margin-left: 12px;
}

.modal-input {
  width: 100%;
  height: 48px;
  background-color: var(--color-white);
  border: 1px solid rgba(18, 18, 18, 0.12);
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.15);
  border-radius: 30px;
  padding: 14px 12px;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--color-black);
  outline: transparent;
}

.modal-input:focus {
  border: 2px solid var(--color-dark-green);
}

.modal-submit-btn {
  width: 106px;
  height: 40px;
  background-color: var(--color-white);
  border: 2px solid var(--color-dark-green);
  margin: 0 auto;
  transition: background-color var(--btn-transition),
    font-size var(--btn-transition);
}

.modal-submit-btn:hover,
.modal-submit-btn:focus {
  background-color: var(--color-button-green);
  font-size: 15px;
}
